@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 4em;
  padding-right: 1em;
}

#nav-text-links {
  margin-right: 2rem;
  padding: 0;
  justify-self: flex-end;
  align-self: center;
  text-decoration: none;
  font-size: 15px;
  color: rgb(78, 78, 78);
  font-weight: 200;
}

#nav-icon {
  align-self: center;
  margin-right: 2rem;
}

#i {
  padding: 1rem;
  background-color: aqua;
}

#menu-img {
  height: 20px;
  width: 20px;
}

.nav-img {
  padding: 0.5em;
  align-self: center;
}

#nav-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#main-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 87vh;
}
.google-logo-container {
  margin: 8% auto 1%;
  display: flex;
  justify-content: center;
}

#logo {
  width: 25%;
}

#search-bar-cont {
  width: 50%;
  background-color: white;
  height: 50px;
  border-radius: 2.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(211, 208, 208);
  padding: 0.2rem;
  margin-bottom: 2%;
}

#search-bar-cont:hover {
  box-shadow: 1px 1px 0.7rem rgb(194, 191, 191);
}

#search-bar {
  width: 85%;
  height: 100%;
  border: none;
  padding-left: 1rem;
  outline: none;
}

#search-icon {
  width: 10%;
  top: 0;
  right: 30px;
  padding-left: 0.4rem;
}

#voice-icon {
  width: 10%;
  top: 0;
  right: 30px;
  padding-left: 0.3rem;
  padding-right: 0.1rem;
}

button {
  border: none;
  background-color: rgb(248, 239, 239);
  border-radius: 0.2rem;
  padding: 0.5rem 0.9rem 0.5rem;
}

button:hover {
  box-shadow: 1px 1px 0.5rem rgb(194, 191, 191);
}

#google-search-but {
  margin-right: 0.5rem;
}

#lang-cont {
  margin-top: 1%;
}

.lang-options {
  display: flex;
  list-style-type: none;
}

#lang-title {
  margin: 3px 0.5rem 0rem;
}

#lang-links {
  margin: 0rem 0.5rem 0rem;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
}

#lang-links:hover {
  text-decoration: underline;
}

#footer1 {
  display: flex;
  list-style-type: none;
  width: 100vw;
  height: 3em;
  padding: 1rem 1rem 1rem;
  background-color: rgb(248, 239, 239);
}

h5 {
  color: rgb(78, 78, 78);
}

#footer-cont {
  bottom: 0;
  position: fixed;
}

ul {
  list-style-type: none;
}

#footer-links {
  text-decoration: none;
  color: rgb(78, 78, 78);
}

#footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgb(248, 239, 239);
  border-top: 1px rgb(211, 208, 208) solid;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

#f2p1 {
  display: flex;
}

#footer-links-left {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  margin-right: 1rem;
  color: rgb(78, 78, 78);
  font-weight: lighter;
}

#footer-links-right {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  margin-right: 1rem;
  color: rgb(78, 78, 78);
  font-weight: lighter;
}

#f2p2 {
  display: flex;
}

#f2p3 {
  display: flex;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .google-logo-container {
    margin: 8% auto 1%;
  }

  #logo {
    width: 25%;
  }

  #search-bar-cont {
    width: 50%;
    padding: 0.1rem;
    margin-bottom: 3%;
  }

  #search-bar {
    width: 81%;
    height: 100%;
    border: none;
    padding-left: 1rem;
    outline: none;
  }
  button {
    border: none;
    background-color: rgb(248, 239, 239);
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem 0.5rem;
    font-size: 11px;
  }

  #lang-title {
    margin: 5px 0.5rem 0rem;
  }

  #lang-links {
    font-size: 10px;
  }

  h5 {
    font-size: 11px;
  }

  #footer-links-left {
    font-size: 11px;
  }

  #footer-links-right {
    font-size: 11px;
  }

  #footer-links {
    font-size: 11px;
    font-style: normal;
  }

  #footer2 {
    flex-direction: column;
    align-items: center;
    height: 7em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  #nav-text-links {
    margin-right: 1rem;
    font-size: 10px;
  }

  #menu-img {
    height: 15px;
    width: 15px;
  }

  .nav-img {
    padding: 0.4em;
  }

  #nav-img {
    height: 30px;
    width: 30px;
  }

  .google-logo-container {
    margin: 8% auto 1%;
  }

  #logo {
    width: 25%;
  }

  #search-bar-cont {
    width: 70%;
    padding: 0.1rem;
    margin-bottom: 3%;
  }

  #search-bar {
    width: 81%;
    height: 100%;
    border: none;
    padding-left: 1rem;
    outline: none;
  }
  button {
    border: none;
    background-color: rgb(248, 239, 239);
    border-radius: 0.2rem;
    padding: 0.5rem 0.7rem 0.5rem;
    font-size: 11px;
  }

  #lang-title {
    margin: 5px 0.5rem 0rem;
  }

  #lang-links {
    font-size: 10px;
  }

  h5 {
    font-size: 11px;
  }

  #footer-links-left {
    font-size: 11px;
  }

  #footer-links-right {
    font-size: 11px;
  }

  #footer-links {
    font-size: 11px;
    font-style: normal;
  }

  #footer2 {
    flex-direction: column;
    align-items: center;
    height: 7em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
