* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.nav {
  background-color: blue;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 4em;
  padding-right: 1em;
}

#nav-text-links {
  margin-right: 2rem;
  padding: 0;
  justify-self: flex-end;
  background-color: red;
  align-self: center;
}

#nav-icon {
  align-self: center;
  margin-right: 2rem;
}

#i {
  padding: 1rem;
  background-color: aqua;
}

.nav-img {
  padding: 0.5em;
  background-color: aliceblue;
  align-self: center;
}

#nav-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#main-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 87vh;
  background-color: yellow;
}
.google-logo-container {
  margin: 8% auto 1%;
}

#logo {
  height: 90px;
}

#search-bar-cont {
  width: 600px;
  background-color: red;
  height: 50px;
  border-radius: 2.5rem;
  border-width: 1px;
  border-style: solid;
  padding: 0.2rem;
  margin-bottom: 2%;
}

#search-bar {
  width: 91%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  padding-left: 1rem;
}

#search-icon {
  width: 10%;
  top: 0;
  right: 30px;
  padding-left: 0.4rem;
}

#voice-icon {
  width: 10%;
  top: 0;
  right: 30px;
  padding-left: 0.4rem;
}

button {
  border: none;
  background-color: rgb(204, 200, 200);
  border-radius: 0.2rem;
  padding: 0.7rem;
}

#google-search-but {
  margin-right: 0.5rem;
}

#lang-cont {
  margin-top: 1%;
}

.lang-options {
  display: flex;
  list-style-type: none;
}

#lang-title {
  margin: 0rem 0.5rem 0rem;
}

#lang-links {
  margin: 0rem 0.5rem 0rem;
}

#footer1 {
  display: flex;
  list-style-type: none;
  width: 100vw;
  height: 3em;
  padding: 1rem 1rem 1rem;
  background-color: rgb(189, 186, 186);
}

#footer-cont {
  bottom: 0;
  position: fixed;
}

#footer2 {
  bottom: 0;
  background-color: rgb(189, 186, 186);
  border-top: 1px black solid;
  height: 3em;
}

#footer2-list {
  display: flex;
  list-style-type: none;
  width: 100vw;
  padding: 1rem 1rem 1rem;
}
